*{
    padding: 0;
    margin: 0;
}
body{

    background-color: black;
}

#theme{
    color: black;
    border-radius: 3rem;
    font-size: x-large;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    margin: 250px;
    
}